{{form_start(formauth)}}
<table>
<tr>
<td>
{{form_label(formauth.username,"your_name")}} </td>
<td>
{{form_widget(formauth.username)}}</td>
</tr>
<tr>
<td>{{form_label(formauth.email,"your_email")}} </td>
<td>
{{form_widget(formauth.email)}}</td>
</tr>

</table>
{{form_end(formauth)}}

