<!DOCTYPE html>
<html>
<head>
    <title>{{ username }}'s Details</title>
</head>
<body>
    <h1>{{ username }}</h1>
    <img src="{{ picture }}" alt="{{ username }}" width="100">
    <p>Email: {{ email }}</p>
    <p>Number of Books: {{ nb_books }}</p>
</body>
</html>