{{form_start(formauthh)}}
<table>
<tr>
<td>
{{form_label(formauthh.Title,"Title")}} </td>
<td>
{{form_widget(formauthh.Title)}}</td>
</tr>
<tr>
<td>{{form_label(formauthh.publicationDate,"publication_date")}} </td>
<td>
{{form_widget(formauthh.publicationDate)}}</td>
<tr>
<td>
{{form_label(formauthh.enabled,"enabled")}} </td>
<td>
{{form_widget(formauthh.enabled)}}</td>
</tr>
<tr>
<td>{{form_label(formauthh.author,"author")}} </td>
<td>
{{form_widget(formauthh.author)}}</td>

</table>
{{form_end(formauthh)}}